html{background-color: #1b1b1b;
color:white;
font-family: Fira Sans Condensed ; Sans Serif
}
p{background: #0b0b0b;
text-align: center;
border: solid #0b0b0b 1px;
border-radius: 3px;}

h1{background: #0b0b0b;
border: 1px solid white;
text-align: center;
border-radius: 3px;}



font-family: 'Gelasio', serif;
font-family: 'PT Serif', serif;

header{background-color: #0b0b0b;}
